<h1>You searched for <p class="first"><%= params[:q] %></p></h1>

<pre>
  <% @results.inspect%>
</pre>
<ul>
  <% @results.each do |r| %>
    <li>
      <img src="<%=r.avatar%>"/>
      <FONT COLOR="#008B8B">User:</FONT><%=r.user%>
      <FONT COLOR="#008B8B">Tweeted:</FONT><%=r.text%>
      <FONT COLOR="#008B8B">On:</FONT><%=r.time%>
    </li>
    <%end%>
</ul>
